.git
.github
node_modules
vendor
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache
.env
.env.*
!.env.example
docker/8.*
docker/mysql
tests
*.md
.editorconfig
.phpunit.result.cache
phpunit.xml
